form .hidden {
	display: none;
}

fieldset.collapsed.is-assigned,
fieldset.is-assigned {
	background-color: #ffffcc;
}

form fieldset.collapsed.updatable,
form fieldset.updatable {
  background-color: #ffcccc;
}

form fieldset.collapsed.delible,
form fieldset.delible {
  background-color: #ccffff;
}

form fieldset.delible textarea, form fieldset.delible input.form-text {
  color: #aaaaaa;
}


/**
 * Image style configuration pages.
 */
div.image-style-new,
div.image-style-new div {
  display: inline;
}

form .image-style-preview {
	clear: both;
}

form .image-style-preview div.preview-image-wrapper {
  float: left;
  padding-bottom: 2em;
  text-align: center;
  top: 50%;
  width: 48%;
}

form .image-style-preview figure.preview-image {
  margin: auto;
  position: relative;
}

form .image-style-preview figure.preview-image > div {
	font-size: 0.8em;
	color: #777777;
}

form .image-style-preview figure.preview-image div.width {
  height: 0.2em;
  left: 0.1em;
  bottom: -0.4em;
  position: absolute;
}

form .image-style-preview figure.preview-image > div span {
	height: 2em;
}

form .image-style-preview figure.preview-image div.width span {
  position: relative;
  top: 0.25em;
}
form .image-style-preview figure.preview-image div.height {
  position: absolute;
  right: -0.4em;
  top: -0.1em;
  width: 0.2em;
}
form .image-style-preview figure.preview-image div.height span {
  left: 1em;
  margin-top: -1em;
  position: absolute;
  top: 50%;
}

/**
 * Image anchor element.
 */
table.image-anchor {
  width: auto;
}
table.image-anchor tr.even,
table.image-anchor tr.odd {
  background: none;
}
table.image-anchor td {
  border: 1px solid #CCC;
}
form .image-style-preview figure.preview-image div.height span {
	height: 2em;
	left: 10px;
	margin-top: -1em;
	position: absolute;
	top: 50%;
}


#imstyleman-preview-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	z-index: 1000;
	cursor: pointer;
	overflow: auto;
	background: rgba(239,239,239,0.67);
}

#imstyleman-preview-container.hidden {
	z-index: -1000;
}

#imstyleman-preview-container img.large-size {
	width: auto;
	height: auto;
	position: absolute;
	top: 1%;
	right: 1%;
	box-shadow: 3px 3px 2px #999999;
}

#imstyleman-preview-container img.screen-size {
	max-width: 100%;
}

#imstyleman-preview-container img.natural-size {
	max-width: none;
}

#imstyleman-admin fieldset.style-data .form-type-select,
#imstyleman-admin fieldset.style-data .form-type-checkbox,
#imstyleman-admin fieldset.style-data .form-type-textfield {
	float: left;
}

#imstyleman-admin fieldset.style-data .form-type-textfield input.form-text {
	max-width: 20vw;
}

#imstyleman-admin fieldset.style-data div select,
#imstyleman-admin fieldset.style-data div label,
#imstyleman-admin fieldset.style-data div input {
	display: inline-block;
}

#imstyleman-admin fieldset.style-data div label {
	margin-left: 1em;
	margin-right: 0.125em;
}

#imstyleman-admin fieldset.style-data .form-type-textfield {
  width: 40%;
}

#imstyleman-admin fieldset.style-data .form-type-checkbox {
  width: 20%;
}

#imstyleman-admin fieldset.style-data .form-type-select {
  width: 30%;
}

#imstyleman-admin fieldset.style-data .form-type-textarea {
	clear: both;
}